ul {
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin: 0;
}
li a {
  text-decoration: none;
  text-align: center;
  width: 199px;
  display: block;
  padding: 10px 0px;
  color: rgb(0, 0, 0);
  border: 1px solid black;
}

li a:hover {
  background-color: rgb(20, 28, 34);
  color: #ffffff;
}
.newproducts {
  width: 100%;
}
.landingpage {
  width: 100%;
}
.display {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.img1 {
  width: 300px;
  height: 280px;
}
.display h2 {
  padding-top: 100px;
}
body {
  background-color: bisque;
  margin: 0;
}
.product-info {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
.text1 {
  margin-top: 50px;
  width: 700px;
  font-size: 20px;
}
.btn1 {
  margin-top: 190px;
  height: 30px;
  width: 70px;
  background-color: rgb(239, 192, 131);
  transition: 200ms;
}
.btn1:hover {
  background-color: #ffffff;
}
.section3 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.pillars {
  width: 230px;
  padding-right: 150px;
}
.business {
  width: 230px;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: coral;
  height: 50px;
}
.mail input {
  height: 20px;
}
.review input {
  height: 20px;
}
.review {
  padding-right: 20px;
  padding-left: 20px;
}
.btn2 {
  height: 20px;
  width: 20px;
}
